<script>
import { mapState } from 'vuex'

export default {
  name: 'CustomSetting',
  computed: {
    ...mapState({
      customizer: state => state.menu.customizer,
    }),
  },
  methods: {
    openCustomizerSetting(val) {
      this.$store.state.menu.customizer = val
    },
  },
}
</script>

<template>
  <a
    id="c-pills-home-tab"
    class="nav-link"
    :class="{ 'active show': customizer === 'settings' }"
    href="javascript:void(0)"
    @click="openCustomizerSetting('settings')"
  >
    <div class="settings">
      <i class="icofont icofont-ui-settings" />
    </div>
    <span>Sidebar Type</span>
  </a>
</template>
