<script>
import { mapState } from 'vuex'

export default {
  name: 'CustomizerTool',
  computed: {
    ...mapState({
      customizer: state => state.menu.customizer,
    }),
  },
  methods: {
    openCustomizerSetting(val) {
      this.$store.state.menu.customizer = val
    },
  },
}
</script>

<template>
  <a
    id="c-pills-home-tab"
    class="nav-link"
    :class="{ 'active show': customizer === 'layouts' }"
    href="javascript:void(0)"
    @click="openCustomizerSetting('layouts')"
  >
    <div class="settings">
      <i class="icofont icofont-laptop-alt" />
    </div>
    <span>Check Layout</span>
  </a>
</template>
