<template>
    <router-link to="/">
    <img
      class="img-fluid for-light"
      src="@/assets/images/satupos.svg"
      alt=""
    />
  </router-link>
</template>
<script>

export default {
    
}
</script>