<script lang="ts" setup>
const prefs = usePrefStore()
const router = useRouter()

function hidesecondmenu() {

}

function setNavActive(item: any) {
  prefs.activeTab = item
  router.push(item)
}
</script>

<template>
  <div id="mainnav">
    <ul id="myDIV" class="nav-menu custom-scrollbar" :style="[{ margin: '0px' }]">
      <li class="back-btn">
        <div class="mobile-back text-end">
          <span>Back</span> <i class="fa fa-angle-right ps-2" aria-hidden="true" />
        </div>
      </li>

      <li
        class="dropdown d-block tw-mt-10 sidebar-main-title"
      >
        <a
          href="javascript:void(0)" :class="{ active: prefs.activeTab == '/dashboard' }"
          class="nav-link menu-title" @click="setNavActive('/dashboard')"
        >
          <vue-feather type="home" class="home" />
          <span>
            Dashboard
          </span>
        </a>
      </li>
    </ul>
  </div>
</template>
