<script lang="ts" setup>
definePageMeta({
  middleware: [
    'auth',
    // Add in more middleware here
  ],
})

const prefs = usePrefStore()

const authFlow = ref('login') // signup, login, signup-info, signup-success

if (prefs.authenticated)
  authFlow.value = 'signup-info'
</script>

<template>
  <div class="overflow-x-hidden ">
    <div
      class="tw-flex tw-fixed tw-h-[250px] tw-max-h-[250px] tw-top-0 tw-z-40 tw-w-full tw-flex-none tw-transition-colors tw-duration-300 tw-lg:tw-z-50 tw-border-b dark:tw-border-gray-50/[0.2] tw-bg-primary/[1]"
    />

    <AuthenticationLogin v-if="authFlow === 'login'" v-model="authFlow" />

    <AuthenticationSignup v-if="authFlow === 'signup'" v-model="authFlow" />
    <AuthenticationSignupInfo v-if="authFlow === 'signup-info'" v-model="authFlow" />
    <AuthenticationSignupSuccess v-if="authFlow === 'signup-success'" v-model="authFlow" />
  </div>
</template>
