<!-- eslint-disable n/prefer-global/process -->
<script lang="ts" setup>
import { storeToRefs } from 'pinia'

import chart from '../data/chart.json' // import storeToRefs helper hook from pinia

definePageMeta({
  layout: 'main',
  middleware: [
    'auth',
    // Add in more middleware here
  ],
})

if (process.client)
  import('vue3-apexcharts')

const route = useRoute()
const router = useRouter()
const getTime = new Date().getTime()
const { $apiStore } = useNuxtApp()

onMounted(() => {

})
</script>

<template>
  <div class="container-fluid dashboard-default-sec">
    <div class="row">
      <div class="col-xl-12 box-col-12 des-xl-100">
        <div class="row">
          <div class="col-xl-4 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec mt-3">
            <div class="card income-card card-'#B50101'">
              <div class="card-body text-left">
                <h6>Opened Today</h6>

                <a class="btn-arrow arrow-'#FFA500'" href="javascript:void(0)"><i
                  class="toprightarrow-'#FFA500' fa fa-minus me-2 d-grid"
                />0%
                </a>
                <div class="parrten">
                  <svg
                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 448.057 448.057" style="enable-background: new 0 0 448.057 448.057"
                    xml:space="preserve"
                  >
                    <g>
                      <g>
                        <path
                          d="M404.562,7.468c-0.021-0.017-0.041-0.034-0.062-0.051c-13.577-11.314-33.755-9.479-45.069,4.099 c-0.017,0.02-0.034,0.041-0.051,0.062l-135.36,162.56L88.66,11.577C77.35-2.031,57.149-3.894,43.54,7.417                                            c-13.608,11.311-15.471,31.512-4.16,45.12l129.6,155.52h-40.96c-17.673,0-32,14.327-32,32s14.327,32,32,32h64v144                                            c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32v-180.48l152.64-183.04C419.974,38.96,418.139,18.782,404.562,7.468z"
                        />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M320.02,208.057h-16c-17.673,0-32,14.327-32,32s14.327,32,32,32h16c17.673,0,32-14.327,32-32 S337.694,208.057,320.02,208.057z"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec mt-3">
            <div class="card income-card card-'#B50101'">
              <div class="card-body text-left">
                <h6>Currently Active</h6>

                <a class="btn-arrow arrow-'#FFA500'" href="javascript:void(0)"><i
                  class="toprightarrow-'#FFA500' fa fa-minus me-2 d-grid"
                />0%
                </a>
                <div class="parrten">
                  <svg
                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 448.057 448.057" style="enable-background: new 0 0 448.057 448.057"
                    xml:space="preserve"
                  >
                    <g>
                      <g>
                        <path
                          d="M404.562,7.468c-0.021-0.017-0.041-0.034-0.062-0.051c-13.577-11.314-33.755-9.479-45.069,4.099 c-0.017,0.02-0.034,0.041-0.051,0.062l-135.36,162.56L88.66,11.577C77.35-2.031,57.149-3.894,43.54,7.417                                            c-13.608,11.311-15.471,31.512-4.16,45.12l129.6,155.52h-40.96c-17.673,0-32,14.327-32,32s14.327,32,32,32h64v144                                            c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32v-180.48l152.64-183.04C419.974,38.96,418.139,18.782,404.562,7.468z"
                        />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M320.02,208.057h-16c-17.673,0-32,14.327-32,32s14.327,32,32,32h16c17.673,0,32-14.327,32-32 S337.694,208.057,320.02,208.057z"
                        />
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
