<!-- eslint-disable n/prefer-global/process -->
<script lang="ts" setup>
import { storeToRefs } from 'pinia' // import storeToRefs helper hook from pinia
import { IUserAddRequest } from '~/types/request/userRequest'
import { IUserOutlets, IUserRoles } from '~/types/response/user'

if (process.client)
  import('bootstrap/dist/js/bootstrap.min.js')

definePageMeta({
  layout: 'main',
  middleware: [
    'auth',
  ],
})

const { $apiUser } = useNuxtApp()
const { loading, hasError } = storeToRefs(useUserStore()) // make authenticated state reactive with storeToRefs
const { storeListData } = storeToRefs(useStoreStore()) // make authenticated state reactive with storeToRefs
const { roleListData } = storeToRefs(useMiscStore()) // make authenticated state reactive with storeToRefs

const router = useRouter()

const data = ref({
  userRequest: {} as IUserAddRequest,
  selectedRoleData: [] as object as IUserRoles,
})

async function callApiAddUser() {
  data.value.userRequest.role = data.value.selectedRoleData.name

  if (loading.value)
    return

  await $apiUser.addUser(data.value.userRequest)

  if (!hasError.value)
    router.push('/user')
}

onBeforeMount(() => {

})

onMounted(() => {
})
</script>

<template>
  <BreadCrumbs main="Inventory" title="User" />

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Add New User</h5>
      </div>

      <form class="form theme-form" @submit.prevent="callApiAddUser">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Full Name</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.name" class="form-control" model="name"
                  type="text" placeholder="Enter your user name" required
                >
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Email</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.email" class="form-control"
                  model="barcode" type="text" placeholder="Enter the user's email" required
                >
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Username</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.username" class="form-control"
                  model="barcode" type="text" placeholder="Enter the username" required
                >
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Phone</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.phone" class="form-control"
                  model="barcode" type="text" placeholder="e.g 082397423" required
                >
              </div>

              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Password</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.password" class="form-control"
                  model="password" type="password" placeholder="Enter your password" required
                >
              </div>

              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Pin (for unlock in POS app)</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.pin" class="form-control" model="pin"
                  type="password" minlength="6" maxlength="6" placeholder="Enter you Pin" required
                >
              </div>

              <div v-if="roleListData.length > 0" class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Assign Role</b></label>

                <multiselect
                  v-model="data.selectedRoleData" :options="roleListData" :searchable="true"
                  :close-on-select="true" track-by="name" label="name" placeholder="Pick a role"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button class="btn btn-primary  m-r-10" type="submit" @click="callApiAddUser()">
            Add
          </button>
          <input class="btn btn-light" type="reset" value="Cancel" @click="router.back()">
        </div>
      </form>
    </div>
  </div>
</template>

<style>
body.modal-open {
  overflow: hidden;
}
</style>()()()
