<script lang="ts" setup>
import { storeToRefs } from 'pinia' // import storeToRefs helper hook from pinia
import { IUserAddRequest, IUserUpdateRequest } from '~/types/request/userRequest'
import { IUserOutlets, IUserRoles } from '~/types/response/user'

if (process.client)
  import('bootstrap/dist/js/bootstrap.min.js')

definePageMeta({
  layout: 'main',
  middleware: [
    'auth',
  ],
})

const { $apiInventory, $apiUser, $apiMisc, $apiOutlet, $apiStore } = useNuxtApp()
const { loading, hasError, userData } = storeToRefs(useUserStore()) // make authenticated state reactive with storeToRefs
const { roleListData } = storeToRefs(useMiscStore()) // make authenticated state reactive with storeToRefs

const prefs = usePrefStore()
const router = useRouter()
const route = useRoute()

const data = ref({
  userRequest: {} as IUserUpdateRequest,
})

async function callApiUpdateUser() {
  if (loading.value)
    return

  await $apiUser.updateUser(data.value.userRequest)

  if (!hasError.value)
    router.push('/user')
}

async function callApiUserDetail() {
  data.value.userRequest.id = route.query.id as any as number

  if (loading.value)
    return

  await $apiUser.getUser({ by_user_id: data.value.userRequest.id })
}

async function initializeData() {
}

async function refreshData() {
  await callApiUserDetail()

  initializeData()
}

onBeforeMount(() => {
  refreshData()
})

onMounted(() => {
})
</script>

<template>
  <BreadCrumbs main="Inventory" title="User" />

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Add New User</h5>
      </div>

      <form class="form theme-form" @submit.prevent="callApiUpdateUser">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Full Name</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.name" class="form-control"
                  model="name" type="text" placeholder="Enter your user name" required
                >
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Email</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.email" class="form-control"
                  model="barcode" type="text" placeholder="Enter the user's email" required
                >
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Username</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.username" class="form-control"
                  model="barcode" type="text" placeholder="Enter the username" required
                >
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Phone</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.phone" class="form-control"
                  model="barcode" type="text" placeholder="e.g 082397423" required
                >
              </div>

              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Password</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.password" class="form-control"
                  model="password" type="password" placeholder="Enter your password"
                >
              </div>

              <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1"><b>Pin (for unlock in POS
                  app)</b></label>
                <input
                  id="exampleFormControlInput1" v-model="data.userRequest.pin" class="form-control"
                  model="pin" type="password" minlength="6" maxlength="6"
                  placeholder="Enter you Pin"
                >
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button class="btn btn-primary  m-r-10" type="submit" @click="callApiUpdateUser()">
            Update
          </button>
          <input class="btn btn-light" type="reset" value="Cancel" @click="router.back()">
        </div>
      </form>
    </div>
  </div>
</template>

<style>
body.modal-open {
    overflow: hidden;
}
</style>
