<!-- eslint-disable vue/eqeqeq -->
<!-- eslint-disable n/prefer-global/process -->
<script lang="ts" setup>
import { storeToRefs } from 'pinia' // import storeToRefs helper hook from pinia
import { useUserStore } from '~/stores/use-user'
import { IUserListData, IUserListDataPagination, IUserOutlets, IUserRoles } from '~/types/response/user'

if (process.client)
  import('bootstrap/dist/js/bootstrap.min.js')

definePageMeta({
  layout: 'main',
  middleware: [
    'auth',
  ],
})

const { $apiUser } = useNuxtApp()
const { loading, hasError, userListData } = storeToRefs(useUserStore()) // make authenticated state reactive with storeToRefs
const router = useRouter()

const data = ref({
  currentPage: 1,
  ascending: false,
  sortColumn: '',
  pageNum: 0,
  selectedUser: {} as IUserListData,
  tableItems: [{} as IUserListData],
})

function get_rows() {
  return data.value.tableItems
}

function num_pages() {
  return data.value.pageNum
}

function change_page(page: any) {
  data.value.currentPage = page
}

function onCreateUser() {
  router.push('/user/create')
}

onMounted(() => {
})
</script>

<template>
  <BreadCrumbs main="Inventory" title="Users" />

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 footer-copyright">
                <h5>User Settings</h5>
              </div>
              <div class="col-md-6 pull-right">
                <button
                  class="btn btn-primary pull-right dark:bg-primary btn-block " type="button"
                  @click="onCreateUser"
                >
                  <div>Add User</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="basic-1_wrapper" class="dataTables_wrapper no-footer">
            <table id="basic-1" class="table display dataTable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th class="col-md-2">
                    Store location
                  </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(row) in get_rows()" :key="row.id">
                  <td>{{ row.id }}</td>
                  <td>{{ row.name }}</td>
                  <td>{{ row.email }}</td>
                  <td>{{ (row.roles && row.roles.length > 0) ? row.roles[0].name : '' }}</td>
                  <td>
                    <div class="row tw-ml-3">
                      <div class="col-md-5">
                        <a
                          class="page-link" href="javascript:void(0)" aria-label="Next"
                          @click="router.push({ path: '/user/edit', query: { id: row.id.toString() } })"
                        >
                          <span aria-hidden="true">Edit</span>
                        </a>
                      </div>
                      <div class="col-md-5">
                        <a
                          class="link" href="#" aria-label="Next" data-bs-toggle="modal"
                          data-bs-target="#deleteModal" @click="data.selectedUser = row"
                        >
                          <span aria-hidden="true">Delete</span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              v-if="data.tableItems.length === 0"
              class="flex w-full tw-text-center mt-4 items-center justify-between py-2"
            >
              <p>There's no data available</p>
            </div>
            <ul class="pagination pull-right">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <li
                v-for="i in num_pages()" :key="i" class="page-item"
                :class="{ active: i === data.currentPage }" @click="change_page(i)"
              >
                <a class="page-link">{{ i
                }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="deleteModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="deleteModal" aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="theme-form login-form tw-text-center">
            <div class="form-group">
              <span class="tw-text-red-800">
                <i class="fa fa-exclamation-triangle fa-5x tw-mt-8 tw-mb-8" />
              </span>
            </div>

            <h4 class="">
              Are you sure to delete "{{ data.selectedUser.name }}" from your store list?
            </h4>
            <span class=""> Deleting this data will affect every existing items </span>

            <div class="row tw-mt-10">
              <div class="col-md-6">
                <div class="mb-3">
                  <button
                    class="btn btn" data-bs-dismiss="modal" aria-label="Close"
                    style="width: 100%" type="button"
                  >
                    Delete
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <button
                    class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                    style="width: 100%" type="button"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
