<script>
import VueFeather from 'vue-feather'

export default {
  components: {
    VueFeather,
  },
}
</script>

<template>
  <div class="bookmark-box">
    <i data-feather="star"><VueFeather type="star" /></i>
  </div>
  <div class="bookmark-dropdown onhover-show-div">
    <div class="form-group mb-0">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-search" /></span>
        </div>
        <input class="form-control" type="text" placeholder="Search for bookmark...">
      </div>
    </div>
    <ul class="m-t-5">
      <li class="add-to-bookmark">
        <i class="bookmark-icon" data-feather="inbox"><VueFeather type="inbox" /></i>Email<span class="pull-right"><i data-feather="star"><VueFeather type="star" /></i></span>
      </li>
      <li class="add-to-bookmark">
        <i class="bookmark-icon" data-feather="message-square"><VueFeather type="message-square" /></i>Chat<span class="pull-right"><i data-feather="star"><VueFeather type="star" /></i></span>
      </li>
      <li class="add-to-bookmark">
        <i class="bookmark-icon" data-feather="command"><VueFeather type="command" /></i>Feather Icon<span class="pull-right"><i data-feather="star"><VueFeather type="star" /></i></span>
      </li>
      <li class="add-to-bookmark">
        <i class="bookmark-icon" data-feather="airplay"><VueFeather type="airplay" /></i>Widgets<span class="pull-right"><i data-feather="star"> <VueFeather type="star" />  </i></span>
      </li>
    </ul>
  </div>
</template>
