<script lang="ts" setup>
const filtered = false

function collapseFilter() {

}
</script>

<template>
  <div class="main-header-right row m-0">
    <div class="main-header-left">
      <HeaderSidebar />
    </div>
    <div class="left-menu-header col">
      <ul>
        <li>
          <!-- <HeaderSearchBar/> -->
        </li>
      </ul>
    </div>
    <div class="nav-right col pull-right right-menu p-0">
      <ul class="nav-menus p-0" :class="filtered ? 'open' : ''">
        <li class="onhover-dropdown p-0">
          <HeaderLogOut />
        </li>
      </ul>
    </div>
    <div class="d-lg-none mobile-toggle pull-right w-auto">
      <i data-feather="more-horizontal"><vue-feather
        type="more-horizontal" @click="collapseFilter()"
      /></i>
    </div>
  </div>
</template>
