<script lang="ts" setup>
const prefs = usePrefStore()
const { $apiAuth } = useNuxtApp()

function logout() {
  $apiAuth.logUserOut()
}
</script>

<template>
  <div class="bookmark-box">
    <div class="notification-dropdown" style="width: 250px; padding: 0px;">
      <ul>
        <li class="noti-primary">
          <div class="media">
            <span class="notification-bg bg-light-primary"><vue-feather type="user" />
            </span>
            <div class="media-body">
              <p>{{ prefs.userName }}</p><span>{{ prefs.userEmail }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="bookmark-dropdown onhover-show-div" style="width: 155px;">
    <button class="btn btn-primary-light" type="button">
      <a class="d-flex" @click="logout"><vue-feather
        type="log-out"
      />Log out</a>
    </button>
  </div>
</template>
