<script>
import VueFeather from 'vue-feather'

export default {
  components: {
  },
  data() {
    return {
      darkMode: false,
      mixLayout: 'light-only',
    }
  },
  methods: {
    customizeMixLayout(val) {
      this.mixLayout = val
      this.$store.dispatch('layout/setLayout', val)
    },
  },

}
</script>

<template>
  <div class="mode">
    <i
      v-show="mixLayout === 'light-only'"
      class="fa fa-moon-o"
      @click="customizeMixLayout('dark-only')"
    />
    <i
      v-show="mixLayout === 'dark-only'"
      class="fa fa-lightbulb-o"
      @click="customizeMixLayout('light-only')"
    />
  </div>
</template>
