<script lang="ts" setup>
import { routerKey } from 'vue-router'

defineProps({
  title: {
    default: 'home',
  },
  main: {
    default: '',
  },
  sub: {
    default: '',
  },
})
const prefs = usePrefStore()
const router = useRouter()

function setNavActive(item: any) {
  prefs.activeTab = item

  router.push(item)
}
</script>

<template>
  <div class="container-fluid mt-3">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="bread">
            {{ title }}
          </h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" @click="setNavActive('/dashboard')">Home</a>
            </li>
            <li v-if="sub" class="breadcrumb-item">
              {{ sub }}
            </li>
            <li v-if="main" class="breadcrumb-item">
              {{ main }}
            </li>
            <li v-if="title" class="breadcrumb-item active">
              {{ title }}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>
