<script>
import VueFeather from 'vue-feather'
import json from '../data/menu'

export default {
  components: {
  },
  data() {
    return {
      customizer: false,
      data:
          `data:text/json;charset=utf-8,${
          encodeURIComponent(JSON.stringify(json))}`,
    }
  },
}
</script>

<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 footer-copyright">
          <p class="mb-0">
            Copyright 2023-2024 © Prakarsa Semesta Digital
          </p>
        </div>
        <div class="col-md-6" />
      </div>
    </div>
  </footer>
</template>
