<script lang="ts" setup>
import { storeToRefs } from 'pinia' // import storeToRefs helper hook from pinia
import {
  type AuthCodeFlowErrorResponse,
  type AuthCodeFlowSuccessResponse,
  useTokenClient,
} from 'vue3-google-signin'
import { IAuthEmailRequest, IAuthSocialRequest, authEmailRequest, authSocialRequest } from '~/types/request/authRequest'

// make authenticated state reactive with storeToRefs

const emit = defineEmits(['update:modelValue'])
const { $apiAuth } = useNuxtApp()
const { handleError } = useAuthStore()
const authStore = useAuthStore()
const prefs = usePrefStore()
const { loading, hasError } = storeToRefs(authStore)
const data = {
  type: 'password',
  submitted: false,
}

const showPassword = function () {
  if (data.type === 'password')
    data.type = 'text'
  else
    data.type = 'password'
}

const { isReady, login } = useTokenClient({
  onSuccess: async (response: AuthCodeFlowSuccessResponse) => {
    loading.value = false

    authSocialRequest.value.access_token = response.access_token
    authSocialRequest.value.provider = 'google'

    await $apiAuth.authenticateUserSocial(authSocialRequest.value)

    if (prefs.accessToken !== '')
      emit('update:modelValue', 'signup-info')
  },
  onError: (errorResponse: AuthCodeFlowErrorResponse) => {
    loading.value = false
  },
})

const loginByEmail = async function () {
  if (loading.value)
    return

  data.submitted = true

  await $apiAuth.authenticateUserEmail(authEmailRequest.value)

  if (prefs.accessToken !== '')
    emit('update:modelValue', 'signup-info')
}

function socialLoginGoogle() {
  if (loading.value)
    return

  loading.value = true
  data.submitted = true

  login()
}
</script>

<template>
  <div class="container-fluid p-0 tw-z-50 tw-absolute">
    <div class="row">
      <div class="login-card">
        <div />
        <form class="theme-form login-form shadow rounded-b-lg m-10">
          <h4>Login</h4>

          <div class="form-group mt-4">
            <label>Email Address</label>
            <div class="input-group">
              <span class="input-group-text"><i class="icon-email" /></span>
              <input
                v-model="authEmailRequest.username" class="form-control" type="email" placeholder="Enter your email address"
                :class="{ 'is-invalid': data.submitted && hasError }"
              >

              <div v-show="data.submitted && hasError" class="invalid-feedback">
                {{ handleError('username') }}
                {{ handleError('email') }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <span class="input-group-text"><i class="icon-lock" /></span>
              <input
                v-model="authEmailRequest.password" autocomplete="" class="form-control" :type="data.type"
                name="login[password]" placeholder="*********" :class="{ 'is-invalid': data.submitted && hasError }"
              >

              <div v-show="data.submitted && hasError" class="invalid-feedback">
                {{ handleError('password') }}
                {{ handleError('email') }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox p-0 mb-3 w-100">
              <input id="checkbox1" type="checkbox">
              <label class="text-muted" for="checkbox1">Remember password</label>
              <!-- <a class="link" href="Forget Password">Forgot password?</a> -->
            </div>
            <button class="btn btn-primary dark:bg-primary btn-block tw-w-full" type="button" @click="loginByEmail">
              <div v-show="!loading">
                Login
              </div>
              <AwesomeLoadingButton v-show="loading" />
            </button>
          </div>
          <div class="login-social-title">
            <h5>Sign in with</h5>
          </div>
          <div class="form-group">
            <ul class="login-social single">
              <li>
                <a target="_blank" @click="socialLoginGoogle">
                  <i v-show="!loading" class="fa fa-google" />
                  <AwesomeLoadingButton v-show="loading" />
                </a>
              </li>
            </ul>
          </div>
          <p class="mt-4 mb-0">
            Don't have account?<router-link class="ms-2" to="" @click="$emit('update:modelValue', 'signup')">
              Create Account
            </router-link>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
