<script lang="ts" setup>
import { storeToRefs } from 'pinia' // import storeToRefs helper hook from pinia

const router = useRouter()

const { $apiAuth } = useNuxtApp()
const { handleError } = useAuthStore()
const authStore = useAuthStore()
const prefs = usePrefStore()
const { loading, hasError } = storeToRefs(authStore) // make authenticated state reactive with storeToRefs

function onContinue() {
  // router.push("dashboard")
  $apiAuth.checkAccountStatus()
}
</script>

<template>
  <div class="container-fluid p-0 tw-z-50 tw-absolute">
    <div class="row">
      <div class="login-card">
        <div />
        <form class="theme-form login-form shadow rounded-b-lg m-10 tw-text-center">
          <h4 class=" tw-mt-10">
            Account Successfully Made!
          </h4>

          <div class="form-group">
            <span class="tw-text-red-800">

              <i class="fa fa-check fa-5x tw-mt-8 tw-mb-8" />
            </span>
            <i class="fa-regular fa-circle-check" />
          </div>
          <div class="form-group">
            <h4> We will reach you soon! </h4>
            <span>We will reach you soonfor accoutn verification, subscription plan and dashboard tutorials</span>
          </div>

          <div class="form-group">
            <button
              style="text-transform: none;" class="btn tw-mt-20 btn-primary dark:bg-primary btn-block tw-w-full"
              type="button" @click="onContinue"
            >
              Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
