<script lang="ts" setup>
import { storeToRefs } from 'pinia' // import storeToRefs helper hook from pinia
import {
  type AuthCodeFlowErrorResponse,
  type AuthCodeFlowSuccessResponse,
  useTokenClient,
} from 'vue3-google-signin'
import { IAuthEmailRequest, IAuthSocialRequest, authEmailRequest, authSocialRequest } from '~/types/request/authRequest'

// make authenticated state reactive with storeToRefs

const emit = defineEmits(['update:modelValue'])
const { $apiAuth } = useNuxtApp()
const { handleError } = useAuthStore()
const authStore = useAuthStore()
const prefs = usePrefStore()
const { loading, hasError } = storeToRefs(authStore)
const data = {
  type: 'password',
  submitted: false,
}

const showPassword = function () {
  if (data.type === 'password')
    data.type = 'text'
  else
    data.type = 'password'
}

const { isReady, login } = useTokenClient({
  onSuccess: async (response: AuthCodeFlowSuccessResponse) => {
    loading.value = false

    authSocialRequest.value.access_token = response.access_token
    authSocialRequest.value.provider = 'google'

    await $apiAuth.signupUserSocial(authSocialRequest.value)

    if (prefs.accessToken !== '')
      emit('update:modelValue', 'signup-info')
  },
  onError: (errorResponse: AuthCodeFlowErrorResponse) => {
    loading.value = false
  },
})

function socialSignupGoogle() {
  if (loading.value)
    return

  loading.value = true
  data.submitted = true

  login()
}

const signupByEmail = async function () {
  if (loading.value)
    return

  data.submitted = true

  await $apiAuth.signupUserEmail(authEmailRequest.value)

  if (prefs.accessToken !== '')
    emit('update:modelValue', 'signup-info')
}
</script>

<template>
  <div class="container-fluid p-0 tw-z-50 tw-absolute">
    <div class="row">
      <div class="login-card">
        <div />
        <form class="theme-form login-form shadow rounded-b-lg m-10">
          <h4>Sign Up</h4>

          <div class="form-group mt-4">
            <label>Email Address</label>
            <div class="input-group">
              <span class="input-group-text"><i class="icon-email" /></span>
              <input
                v-model="authEmailRequest.username" class="form-control" type="email" placeholder="Enter your email address"
                :class="{ 'is-invalid': data.submitted && hasError }"
              >

              <div v-show="data.submitted && hasError && handleError('username') != ''" class="invalid-feedback">
                {{ handleError('username') }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <span class="input-group-text"><i class="icon-lock" /></span>
              <input
                v-model="authEmailRequest.password" autocomplete="" class="form-control" :type="data.type"
                name="login[password]" placeholder="*********" :class="{ 'is-invalid': data.submitted && hasError }"
              >

              <div v-show="data.submitted && hasError && handleError('password') != ''" class="invalid-feedback">
                {{ handleError('password') }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <button
              style="text-transform: none;" class="btn btn-primary dark:bg-primary btn-block tw-w-full"
              type="button" @click="signupByEmail"
            >
              Sign Up
            </button>
          </div>
          <div class="login-social-title">
            <h5>Sign Up with</h5>
          </div>
          <div class="form-group">
            <ul class="login-social single">
              <li>
                <a target="_blank" @click="socialSignupGoogle"><i class="fa fa-google" /></a>
              </li>
            </ul>
          </div>
          <p class="mt-4 mb-0">
            Already have account?<router-link class="ms-2" to="" @click="$emit('update:modelValue', 'login')">
              Sign In
            </router-link>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
