<script lang="ts" setup>
import { InitApp } from '~/utils/initApp'

InitApp()
const locale = useState<string>('locale.i18n')
</script>

<template>
  <ClientOnly>
    <Html :lang="locale">
      <Body
        class="tw-bg-white tw-text-gray-800 tw-antialiased tw-transition-colors tw-duration-300 dark:tw-bg-gray-900 dark:tw-text-gray-200"
      >
        <NuxtLayout>
          <NuxtPage />
        </NuxtLayout>
      </Body>
    </Html>
  </ClientOnly>
</template>

<style lang="postcss">
</style>
