<script lang="ts" setup>
definePageMeta({
  middleware: [
    'auth',
    // Add in more middleware here
  ],
})

const togglesidebar = true
const activeoverlay = true

function removeoverlay() {

}

function sidebar_toggle() {

}

const { $apiAuth } = useNuxtApp()
</script>

<template>
  <Head>
    <Title>SatuPOS - Dashboard</Title>
  </Head>

  <div class="page-wrapper compact-wrapper">
    <div class="page-main-header" :class="{ close_icon: !togglesidebar }">
      <HeaderIndexView @clicked="sidebar_toggle" />
    </div>
    <div class="page-body-wrapper horizontal-menu">
      <div class="bg-overlay" :class="{ active: activeoverlay }" @click="removeoverlay()" />
      <header class="main-nav" :class="[{ close_icon: !togglesidebar }]" :sidebar-layout="{ 'default-sidebar': true }">
        <SlidebarIndexVue @clicked="sidebar_toggle" />
      </header>
      <div class="page-body">
        <transition name="fadeIn" enter-active-class="animated fadeIn">
          <div>
            <slot />
          </div>
        </transition>
      </div>
      <FooterView />
    </div>
    <!-- <Customizer/> -->
  </div>
</template>
